<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/guru.css}" />
    <title>Spring MVC Crud Statis</title>
</head>

<body>
    <!-- awal dari halaman web -->
    <div id="wrap">
        <div id="header">
            <!-- <%--awal header--%> -->
            <!-- <img src="../image/tut_wuri_handayani_1.png"> -->
            <img th:src="@{/image/logo_sms31.png}" class="img1">
            <img th:src="@{/image/logo_sms31.png}" class="img2">
            <h1>Belajar Spring Boot</h1>
            <h1>Model View Controller (MVC)</h1>
            <h1>CRUD data statis</h1>
        </div><!-- <%--akhir dari header--%> -->
        <div id="content">
            <!-- <%-- awal dari isi content --%> -->
            <br>
            <div class="container">
                <div>
                    <table class="table-form">
                        <thead>
                            <td>
                                <h2>
                                    Add New Guru
                                </h2>
                            </td>
                        </thead>
                    </table>
                    <form th:object="${guruu}" method="post" th:action="@{/save}">
                        <table class="table-form-input">
                            <tr>
                                <td>
                                    <label>NIP</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{nip}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Nama Guru</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{name}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Jenis Kelamin</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{Kelamin}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Password</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{pass}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Wali Kelas</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{walikelas}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Alamat</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{alamat}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Nomor Telepon</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{telepon}">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p><button class="btn btn-primary" type="submit">Submit</button></p>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="footer">
                <!-- <%--awal dari content footer web --%> -->
                support by <a href="">Junior Programmer Alumnus Program Study Komputerisasi Akuntansi BSI MARGONDA
                    DEPOK</a>,
                <a href="">Copyright &copy; 8 February 2023 by Haryono. – All Right Reserved</a>
                <br>
                <p id="demo"></p>
                <script src="" th:src="@{/js/date.js}"></script>
            </div>
            <div style="clear:both;">
            </div>
        </div>
        <!-- <%--akhir dari isi content --%> -->
    </div>
    <!-- <%--akhir dari halaman web --%> -->
</body>

</html>